@font-face {
  font-family: "KanitRegular";
  src: url("../../public/assets/fonts/kanit/KanitRegular.eot");
  src: url("../../public/assets/fonts/kanit/KanitRegular.eot") format("embedded-opentype"), url("../../public/assets/fonts/kanit/KanitRegular.woff2") format("woff2"), url("../../public/assets/fonts/kanit/KanitRegular.woff") format("woff"), url("../../public/assets/fonts/kanit/KanitRegular.ttf") format("truetype"), url("../../public/assets/fonts/kanit/KanitRegular.svg#KanitRegular") format("svg");
}
@media screen and (min-width: 992px) {
  header {
    display: none;
  }
}
header .logo-mb {
  text-align: center;
  margin: 20px;
}
header .logo-mb img {
  width: 120px;
}

body {
  font-family: "KanitRegular";
  background-image: url("../../public/assets/images/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #363636;
}
@media screen and (max-width: 991px) {
  body {
    background-position: right;
    background-size: cover;
  }
}

.wrap-content {
  padding: 5% 7%;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .wrap-content {
    padding-top: 0px;
  }
}
.wrap-content .title {
  font-size: 64px;
  text-align: right;
  color: #1B4332;
  line-height: 1;
}
@media screen and (max-width: 1200px) {
  .wrap-content .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap-content .title {
    font-size: 44px;
  }
}
@media screen and (max-width: 991px) {
  .wrap-content .title {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .wrap-content .title {
    font-size: 34px;
  }
}
.wrap-content .sub-title {
  color: #2D6A4F;
  font-size: 22px;
  text-align: right;
  line-height: 1;
  margin: 10px 0px;
}
@media screen and (max-width: 1200px) {
  .wrap-content .sub-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .wrap-content .sub-title {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .wrap-content .sub-title {
    text-align: center;
  }
}
@media screen and (max-width: 991px) {
  .wrap-content .block-content {
    margin-top: 20px;
  }
}
.wrap-content .block-content .logo {
  background-color: #d4ebc9;
  border: 7px solid #1B4332;
  border-radius: 100%;
  padding: 25px 20px;
  z-index: 99;
  transform: scale(1.05);
}
@media screen and (max-width: 991px) {
  .wrap-content .block-content .logo {
    display: none;
  }
}
.wrap-content .block-content img {
  width: 100%;
}
.wrap-content .block-content .content {
  position: relative;
  background: #fff;
  border: 7px solid #1B4332;
  border-left: none;
  border-radius: 0 30px 30px 0;
}
@media screen and (max-width: 991px) {
  .wrap-content .block-content .content {
    border-radius: 30px;
    border-left: 7px solid #1B4332;
    border-width: 4px;
    min-height: 100%;
  }
}
.wrap-content .block-content .content::before {
  content: "";
  width: 17vw;
  height: calc(100% + 14px);
  display: block;
  background: white;
  border: 7px solid #1B4332;
  padding: 0;
  position: absolute;
  left: -17vw;
  border-right: 0;
  top: -7px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .wrap-content .block-content .content::before {
    display: none;
  }
}
.wrap-content .block-content .content .box {
  position: absolute;
  z-index: 9;
  overflow-y: scroll;
  height: 98%;
  width: 98%;
  top: 0;
}
@media screen and (max-width: 991px) {
  .wrap-content .block-content .content .box {
    position: relative;
    width: 100%;
    margin: 0;
    height: auto;
  }
}

/** button **/
.btn-primary {
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: #008FE0;
  border: none;
}
.btn-primary.btn-thaiD {
  margin-top: 8px;
  background-color: #3B599B;
}
.btn-primary img {
  width: 25px !important;
  margin-right: 5px;
}
.btn-primary.green {
  background-color: #2D6A4F;
}
@media screen and (max-width: 680px) {
  .btn-primary.check-data {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
  }
}

/*** landing page ****/
.block-register {
  padding-top: 60px;
  margin: 0;
}
@media screen and (max-width: 1366px) {
  .block-register {
    padding-top: 30px;
  }
}
.block-register .register_form {
  padding-right: 0px;
}
@media screen and (max-width: 1200px) {
  .block-register .register_form {
    width: 100%;
    padding: 25px;
  }
}
.block-register .register_form .wrap-register {
  border-right: 2px dashed #40916C;
  padding: 20px;
  padding-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .block-register .register_form .wrap-register {
    border-bottom: 2px dashed #40916C;
    border-right: 0;
    padding: 0;
    padding-bottom: 20px;
  }
}
.block-register .register_form form {
  padding: 0 25px;
}
@media screen and (max-width: 991px) {
  .block-register .register_form form {
    padding: 0;
  }
}
.block-register .register_form form input[type=text] {
  font-size: 16px;
  border-color: #CACACA;
  border-right: none;
}
.block-register .register_form form input[type=text]:focus {
  outline: none;
  box-shadow: none;
}
.block-register .register_form form input[type=text]::placeholder {
  color: #CACACA;
}
.block-register .register_form form input[type=text]:-ms-input-placeholder {
  color: #CACACA;
}
.block-register .register_form form input[type=text]::-webkit-input-placeholder {
  color: #CACACA;
}
.block-register .register_form form .input-group {
  margin-bottom: 8px;
}
.block-register .register_form form .input-group button {
  border-color: #CACACA;
  border-left: 0;
  padding-right: 5.5px;
}
.block-register .register_form form .input-group button:hover {
  background: none !important;
}
.block-register .register_form form .input-group button i {
  color: #848484;
}
.block-register .register_form .text {
  text-align: center;
  margin-top: 24.5px;
}
.block-register .block-check {
  padding-left: 15px;
  margin-top: 11.5px;
}
.block-register .block-check input {
  border-color: #363636;
  border-radius: 0;
}
.block-register .block-check .forgotPassword {
  text-align: right;
}
.block-register .block-check a {
  color: #363636;
  text-decoration: none;
}
.block-register .block-check a:hover {
  color: #008FE0;
}
.block-register .block-check .form-check {
  padding-right: 0px;
}
.block-register .detail {
  padding-left: 25px;
}
@media screen and (max-width: 1200px) {
  .block-register .detail {
    width: 100%;
    padding: 0 50px;
  }
}
@media screen and (max-width: 991px) {
  .block-register .detail {
    padding: 0 20px;
  }
}
.block-register .detail .detail-title {
  font-size: 19px;
}
.block-register .detail ul {
  list-style: none;
  padding: 0;
  padding-left: 7px;
  margin-top: 8px;
}
.block-register .detail ul li {
  margin-bottom: 7px;
}
.block-register .detail ul li i {
  color: #74C69D;
  margin-right: 10px;
}
.block-register .detail ul li span {
  font-size: 15px;
}
.block-register .detail .btn-register {
  width: 70%;
  margin: 0 auto;
  display: block;
  background: #0FA958;
  border: none;
  border-radius: 10px;
}
.block-register .detail .btn-register i {
  margin-right: 7.5px;
}
.block-register .detail .block-qr {
  margin-top: 12px;
}
@media screen and (max-width: 991px) {
  .block-register .detail .block-qr {
    display: table;
    margin: 0 auto;
    margin-top: 12px;
  }
}
.block-register .detail .block-qr img {
  width: 128px;
  margin-right: 18px;
}
.block-register .detail .block-qr span {
  font-size: 15px;
}
.block-register .text-bottom {
  font-size: 22px;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

/*** register 1 ****/
.block-register-1 {
  padding: 25px 60px;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .block-register-1 {
    padding: 20px;
  }
}
.block-register-1 .title-block {
  font-size: 19px;
}
.block-register-1 .condition-detail {
  background: #f1f1f1;
  padding: 15px 20px;
  margin: 15px 0px;
  height: 68%;
  overflow: auto;
  border-radius: 5px;
}
@media screen and (max-width: 991px) {
  .block-register-1 .condition-detail {
    max-height: 400px;
  }
}
.block-register-1 .btn-thaiD {
  float: right;
  margin-top: 15px;
  margin-bottom: 30px;
}

/*** register 2 ****/
.block-register-form {
  padding: 15px;
  height: 100%;
}
.block-register-form .input-date {
  position: relative;
}
.block-register-form .input-date:after {
  font-family: "Font Awesome 6 Free";
  content: "\f073";
  color: #848484;
  position: absolute;
  right: 7px;
  top: 3px;
}
.block-register-form .block-button {
  display: inline-block;
  justify-content: end;
  position: sticky;
  padding-right: 30px;
  bottom: 0px;
  float: right;
  z-index: 99;
  margin-top: 15px;
  margin-bottom: 20px;
}
.block-register-form .block-button.block-button-v2 {
  width: 100%;
  float: none;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  -tw-backdrop-blur: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-top: 10px;
}
@media screen and (max-width: 991px) {
  .block-register-form .block-button.block-button-v2 {
    padding-right: 0px;
  }
}
@media screen and (max-width: 480px) {
  .block-register-form .block-button.block-button-step-4 {
    display: block;
  }
  .block-register-form .block-button.block-button-step-4 .btn-primary {
    margin: 5px;
  }
}
@media screen and (max-width: 680px) {
  .block-register-form .block-button {
    padding-right: 0px;
  }
}
.block-register-form .block-datepicker {
  padding-left: 30px;
}
.block-register-form .block-datepicker label {
  width: 150px;
}
.block-register-form .red {
  color: #FF0000;
}
.block-register-form p {
  font-size: 14px;
}
.block-register-form .title-block {
  font-size: 19px;
}
@media screen and (max-width: 680px) {
  .block-register-form .title-block {
    text-align: center;
  }
}
.block-register-form form {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  z-index: 99;
  position: relative;
  min-height: 80%;
}
@media screen and (max-width: 991px) {
  .block-register-form form {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.block-register-form form .form-switch .form-check-input {
  height: 20px;
  width: 40px !important;
}
.block-register-form form .form-switch .form-check-input:checked {
  background-color: #ABF291;
  border-color: #E1E1E1;
}
.block-register-form form .filename {
  color: #008FE0;
}
.block-register-form form label {
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
}
.block-register-form form .required {
  color: #FF0000;
}
.block-register-form form input[type=text] {
  border: 1px solid #CACACA;
  padding-top: 3px;
  padding-bottom: 3px;
}
.block-register-form form input[type=text]#idNumber {
  width: 40%;
  min-width: 260px;
}
@media screen and (max-width: 1120px) {
  .block-register-form form input[type=text]#idNumber {
    min-width: 70%;
  }
}
@media screen and (max-width: 991px) {
  .block-register-form form input[type=text]#idNumber {
    min-width: 260px;
  }
}
@media screen and (max-width: 680px) {
  .block-register-form form input[type=text]#idNumber {
    min-width: 100%;
  }
}
.block-register-form form select {
  padding-top: 3px;
  padding-bottom: 3px;
}
.block-register-form form .hasBg {
  background-color: #E1E1E1;
}
.block-register-form form .w-auto {
  width: auto;
}
.block-register-form form .item, .block-register-form form .sub-item {
  margin-bottom: 7px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.block-register-form form .item .item, .block-register-form form .sub-item .item {
  margin-bottom: 0;
}
@media screen and (max-width: 1120px) {
  .block-register-form form .item, .block-register-form form .sub-item {
    display: block;
  }
  .block-register-form form .item.item-block-name, .block-register-form form .sub-item.item-block-name {
    display: flex;
  }
  .block-register-form form .item.item-block-affiliation, .block-register-form form .sub-item.item-block-affiliation {
    display: flex;
    align-items: end;
  }
}
@media screen and (max-width: 991px) {
  .block-register-form form .item, .block-register-form form .sub-item {
    display: flex;
  }
}
@media screen and (max-width: 680px) {
  .block-register-form form .item, .block-register-form form .sub-item {
    display: block;
    width: 100%;
  }
  .block-register-form form .item.item-block-name, .block-register-form form .sub-item.item-block-name {
    display: block;
  }
  .block-register-form form .item.item-block-affiliation, .block-register-form form .sub-item.item-block-affiliation {
    display: block;
  }
}
.block-register-form form .item label.fix-w, .block-register-form form .sub-item label.fix-w {
  width: 65px;
}
.block-register-form form .item label.fix-w-2, .block-register-form form .sub-item label.fix-w-2 {
  width: 80px;
}
.block-register-form form .item.item-style2, .block-register-form form .sub-item.item-style2 {
  padding-left: 60px;
}
@media screen and (max-width: 680px) {
  .block-register-form form .item.item-style2, .block-register-form form .sub-item.item-style2 {
    padding-left: 20px;
    padding-right: 0px;
  }
}
.block-register-form form .item.item-style2 label.fix-w, .block-register-form form .sub-item.item-style2 label.fix-w {
  width: 140px;
}
.block-register-form form .item.item-style2 .form-select, .block-register-form form .sub-item.item-style2 .form-select {
  width: 200px;
}
@media screen and (max-width: 1120px) {
  .block-register-form form .item.item-style2 .form-select, .block-register-form form .sub-item.item-style2 .form-select {
    width: 300px;
  }
}
@media screen and (max-width: 680px) {
  .block-register-form form .item.item-style2 .form-select, .block-register-form form .sub-item.item-style2 .form-select {
    width: 100%;
  }
}
@media screen and (max-width: 1120px) {
  .block-register-form form .step-4 .sub-item {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .block-register-form form .step-4 .sub-item {
    width: auto;
  }
}
@media screen and (max-width: 1120px) {
  .block-register-form form .step-4 .item.time-limit {
    display: flex;
  }
}
@media screen and (max-width: 1120px) {
  .block-register-form form .step-4 .item.block-datepicker .sub-item {
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .block-register-form form .step-4 .item.block-datepicker .sub-item {
    display: block;
  }
}
.block-register-form .block-radio {
  margin-left: 30px;
}
@media screen and (max-width: 680px) {
  .block-register-form .block-radio {
    margin-left: 0px;
  }
}
.block-register-form .block-radio .form-check-input[type=radio] {
  border-color: #363636;
  margin-top: 7px;
}
.block-register-form .block-list-system {
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 10px 20px;
  width: 90%;
  margin: 0 auto;
}
.block-register-form .block-list-system .form-check {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.block-register-form .block-list-system .form-check .form-check-input[type=checkbox] {
  border-color: #363636 !important;
}
.block-register-form .block-list-system img {
  width: 40px;
  margin: 0 10px;
}
.block-register-form .text-step-4 {
  text-align: right;
  width: 90%;
  margin: 0 auto;
}

/*** block register 5 ***/
.block-register-5 {
  text-align: center;
  padding: 40px 20px;
}
.block-register-5 .title-block {
  font-size: 22px;
  margin-bottom: 20px;
}
.block-register-5 .section-content p {
  margin-bottom: 0;
  line-height: 30px;
}
@media screen and (max-width: 400px) {
  .block-register-5 .section-content p span {
    display: block;
  }
}
.block-register-5 .btn-primary {
  margin-top: 20px;
}

/*** Forgot Password ***/
.block-forgot-password-form form {
  min-height: auto;
}
.block-forgot-password-form .block-button {
  position: relative;
  float: none;
  text-align: center;
  width: 100%;
  margin-top: 60px;
}

.block-setup-password .title-block {
  text-align: center;
  padding: 13px 0;
}
.block-setup-password form {
  padding: 0px 80px;
}
@media screen and (max-width: 767px) {
  .block-setup-password form {
    padding: 0px;
  }
}
.block-setup-password form .item {
  align-items: start;
}
.block-setup-password form .item label.fix-w {
  width: 140px;
}
.block-setup-password .block-password {
  display: block;
  width: 100%;
}
.block-setup-password .level {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-size: 13px;
  text-align: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}
.block-setup-password .level .item {
  display: block;
  opacity: 0.5;
  color: #000000;
}
.block-setup-password .level .item.active {
  opacity: 1;
  position: relative;
}
.block-setup-password .level .item.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #848484;
  top: -6px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.block-setup-password .level .item.lower {
  background-color: #FF1212;
}
.block-setup-password .level .item.low {
  background-color: #FFAF37;
}
.block-setup-password .level .item.medium {
  background-color: #FAFF00;
}
.block-setup-password .level .item.high {
  background-color: #ABF291;
}
.block-setup-password .level .item.higher {
  background-color: #74C69D;
}

.modal-custom .modal-header {
  background-color: #1B4332;
}
.modal-custom .modal-header h1 {
  font-size: 18px !important;
  color: white;
}
.modal-custom .modal-header .btn-close {
  display: none;
}
.modal-custom .modal-body {
  text-align: center;
}
.modal-custom .modal-body .title {
  font-size: 22px;
  margin-bottom: 34px;
}
.modal-custom .modal-body p {
  margin-bottom: 5px;
}
.modal-custom .modal-body p.p-single {
  font-size: 22px;
  padding: 10px;
}
.modal-custom .modal-body p.red {
  color: #FF0000;
}
.modal-custom .modal-footer {
  border: none;
  justify-content: center;
  padding-bottom: 25px;
}
.modal-custom .modal-footer button {
  background-color: #2D6A4F;
  padding: 5px 17px;
}
/*# sourceMappingURL=main.css.map */