@@include('./common/header.html')


<main class="wrap-content">
  <div class="title">
    ยื่นขอเปลี่ยนรหัสผ่าน ระบบ Single Sing-On
  </div>
  <div class="sub-title">
    กรมส่งเสริมการปกครองท้องถิ่น
  </div>
  <div class="block-content row">
    <div class="logo col-lg-5">
      <img src="./public/assets/images/logo.png" />
    </div>
    <div class="content col-lg-7">
       <div class="box">
          <div class="block-register-form block-forgot-password-form">
            <div class="title-block">
              ลืมรหัสผ่าน
            </div>
            <form>
              <div class="wrap">
                <div class="item col-12 col-lg-10">
                  <label for="idCard" class="col-sm-5 col-form-label w-auto" >เลขประจำตัวชาชน (ชื่อบัญชีผู้ใช้งาน)<span class="required">*</span></label> 
                  <input type="text" class="form-control" id="idCard" placeholder="เลข 13 หลัก (format เลข ปชช.)">
                </div>
                <div class="item col-12 col-lg-6">
                  <label for="email" class="col-sm-5 col-form-label fix-w-2" >Email<span class="required">*</span></label> 
                  <input type="text" class="form-control" id="email" placeholder="ข้อความ">
                </div>
               
              </div>
            </form>
            <div class="block-button">
              <button data-bs-toggle="modal" data-bs-target="#success"  class="btn btn-primary btn-step green">ยืนยันขอรหัสผ่านใหม่</button>
            </div>

         
           
          </div>
       </div>
    </div>
  </div>
</main>

<!-- Modal -->
<div class="modal modal-custom" id="success" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">ขอเปลี่ยนรหัสผ่าน</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- success message -->
          <div class="title">
            การยื่นขอเปลี่ยนรหัสผ่านสำเร็จ
          </div>
          <p class="name">
            นายคนดี บุญมาก <!-- ชื่อ --> 
          </p>
          <p class="id">
            เลขประจำตัวประชาชน: <span>x-xxxx-xxxxx-xx-x</span>  <!-- เลขประจำตัวประชาชน 13 หลัก> --> 
          </p>
          <p>
            ระบบจะทำการส่ง link สำหรับให้ผู้ใช้งานดำเนินการเปลี่ยนรหัสผ่าน ทาง <!-- ข้อความแจ้ง --> 
          </p>
          <p class="email">
            Email: .....  <!-- email -->
          </p>
        <!-- END success message -->

        <!-- fail message -->
          <p class="p-single red">
            ไม่พบข้อมูลผู้ใช้งาน
          </p>
        <!-- END fail message -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>



@@include('./common/footer.html')