@@include('./common/header.html')


<main class="wrap-content">
  <div class="title">
    ระบบ Single Sing-On
  </div>
  <div class="sub-title">
    กรมส่งเสริมการปกครองท้องถิ่น
  </div>
  <div class="block-content row">
    <div class="logo col-lg-5">
      <img src="./public/assets/images/logo.png" />
    </div>
    <div class="content col-lg-7">
       <div class="box">
         <div class="row block-register">
            <div class="register_form col-md-6">
              <div class="wrap-register">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="ชื่อผู้ใช้งาน" name="username"  aria-describedby="button1">
                    <button class="btn btn-outline-secondary" type="button" id="button1" ><i class="fa-solid fa-user"></i></button>
                  </div>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="รหัสผ่าน" name="password"  aria-describedby="button1">
                    <button class="btn btn-outline-secondary" type="button" id="button1" ><i class="fa-solid fa-eye"></i></button>
                  </div>
                  <button  class="btn btn-primary col-12">เข้าสู่ระบบ</button> 
                  <button  class="btn btn-thaiD btn-primary col-12"><img src="./public/assets/images/thaiD.png" />เข้าสู่ระบบด้วย ThaiD</button>
                  <div class="row block-check">
                    <div class="form-check col-6">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        จดจำรหัสผ่าน
                      </label>
                    </div>
                    <a class="forgotPassword col-6" href="">ลืมรหัสผ่าน?</a>
                  </div>
                </form>
                <div class="text">
                  <span>ตรวจสอบรายชื่อ SSO Admin ของหน่วยงาน
                    เพื่อสร้างผู้ใช้งานส่วนบุคคล</span>
                </div>
              </div>
            </div>
            <div class="detail col-md-6">
              <div class="detail-title">ลงทะเบียนผู้ใช้ใหม่</div>
              <ul class="condition">
                <li><i class="fa-solid fa-check"></i><span>เงื่อนไข 1 Lorem ipsum dolor sit amet </span></li>
                <li><i class="fa-solid fa-check"></i><span>เงื่อนไข 2 Lorem ipsum dolor sit amet </span></li>
                <li><i class="fa-solid fa-check"></i><span>เงื่อนไข 3 Lorem ipsum dolor sit amet </span></li>
              </ul>
              <button  class="btn btn-primary btn-register"><i class="fa-solid fa-user-plus"></i>ลงทะเบียนผู้ใช้ใหม่</button>
              <div class="block-qr">
                <img src="./public/assets/images/qr.png" />
                <span>คู่มือการใช้งานระบบ</span>
              </div> 
            </div>
            <div class="col-12 text-bottom">
              <span>ติดตามสถานะ และขั้นตอนการดำเนินการเอกสาร</span>
            </div>
          </div>
       </div>
    </div>
  </div>
</main>


@@include('./common/footer.html')