@@include('./common/header.html')


<main class="wrap-content">
  <div class="title">
    ลงทะเบียนผู้ใช้ใหม่ ระบบ Single Sing-On
  </div>
  <div class="sub-title">
    กรมส่งเสริมการปกครองท้องถิ่น
  </div>
  <div class="block-content row">
    <div class="logo col-lg-5">
      <img src="./public/assets/images/logo.png" />
    </div>
    <div class="content col-lg-7">
       <div class="box">
        <div class="block-register-form">
          <div class="title-block">
            ข้อมูลผู้ขอลงทะเบียน
          </div>
          <form>
            <div class="wrap">
              <div class="item item-id-number">
                <label for="idNumber" class="col-sm-5 col-form-label w-auto" >เลขประจำตัวชาชน (ชื่อบัญชีผู้ใช้งาน)<span class="required">*</span></label>
                <input type="text" class="form-control hasBg" id="idNumber" placeholder="เลข 13 หลัก (format เลข ปชช.)">
               
              </div>
              <div class="item col-sm-6">
                <label for="title" class="col-sm-5 col-form-label fix-w" >คำนำหน้า</label>
                <input type="text" class="form-control hasBg" id="title" placeholder="ข้อความ">
              </div>
              <div class="item item-block-name">
                <div class="item col-sm-6">
                  <label for="name" class="col-sm-5 col-form-label fix-w" >ชื่อ<span class="required">*</span></label>
                  <input type="text" class="form-control hasBg" id="name" placeholder="ข้อความ">
                </div>
                <div class="item col-sm-6">
                  <label for="lastname" class="col-sm-5 col-form-label fix-w" >นามสกุล<span class="required">*</span></label>
                  <input type="text" class="form-control hasBg" id="lastname" placeholder="ข้อความ">
                </div>
              </div>
              <div class="item item-block-affiliation">
                <div class="item col-sm-6">
                  <label for="affiliation" class="col-sm-5 col-form-label w-auto" >สังกัด/หน่วยงาน<span class="required">*</span></label>
                  <select class="form-select">
                    <option selected>ข้อความ</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="item col-sm-6">
                  <button  class="btn check-data btn-primary ">ตรวจสอบข้อมูลบุคคล</button>
                </div>
              </div>
              <div class="item">
                <label for="title" class="col-sm-5 col-form-label w-auto" >ประเภทบุคลากร<span class="required">*</span></label>
                <div class="block-radio">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">ข้าราชการ</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">พนักงานจ้าง</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">ลูกจ้าง</label>
                  </div>
                </div>
                
              </div>
              <div class="item item-style2">
                <label for="affiliation" class="col-sm-5 col-form-label fix-w " >จังหวัด</label>
                <select class="form-select hasBg">
                  <option selected>ข้อความ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
  
              <div class="item item-style2">
                <label for="affiliation" class="col-sm-5 col-form-label fix-w " >อำเภอ</label>
                <select class="form-select hasBg">
                  <option selected>ข้อความ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
  
              <div class="item item-style2">
                <label for="affiliation" class="col-sm-5 col-form-label fix-w " >อปท.</label>
                <select class="form-select hasBg">
                  <option selected>ข้อความ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="item item-style2">
                <label for="affiliation" class="col-sm-5 col-form-label fix-w " >สำนัก/กอง</label>
                <select class="form-select">
                  <option selected>ข้อความ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="item item-style2">
                <label for="affiliation" class="col-sm-5 col-form-label fix-w " >กลุ่มงาน/กอง/ฝ่าย</label>
                <select class="form-select">
                  <option selected>ข้อความ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="item item-style2">
                <label for="affiliation" class="col-sm-5 col-form-label fix-w " >กลุ่มงาน/งาน</label>
                <select class="form-select">
                  <option selected>ข้อความ</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
          </form>
          <div class="block-button">
            <button  class="btn btn-primary btn-step green">ถัดไป</button>
          </div>
        </div>
       </div>
    </div>
  </div>
</main>


@@include('./common/footer.html')