@@include('./common/header.html')


<main class="wrap-content">
  <div class="title">
    ลงทะเบียนผู้ใช้ใหม่ ระบบ Single Sing-On
  </div>
  <div class="sub-title">
    กรมส่งเสริมการปกครองท้องถิ่น
  </div>
  <div class="block-content row">
    <div class="logo col-lg-5">
      <img src="./public/assets/images/logo.png" />
    </div>
    <div class="content col-lg-7">
      <div class="box">
        <div class="block-register-1">
            <div class="title-block">
              เงื่อนไขและข้อตกลง
            </div>
            <div class="condition-detail">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat laboriosam ratione voluptates necessitatibus voluptatibus dignissimos provident, in est ad accusamus minima doloribus magni, repellendus perferendis ipsam neque excepturi dicta reiciendis.
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat laboriosam ratione voluptates necessitatibus voluptatibus dignissimos provident, in est ad accusamus minima doloribus magni, repellendus perferendis ipsam neque excepturi dicta reiciendis.
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat laboriosam ratione voluptates necessitatibus voluptatibus dignissimos provident, in est ad accusamus minima doloribus magni, repellendus perferendis ipsam neque excepturi dicta reiciendis.
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat laboriosam ratione voluptates necessitatibus voluptatibus dignissimos provident, in est ad accusamus minima doloribus magni, repellendus perferendis ipsam neque excepturi dicta reiciendis.
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat laboriosam ratione voluptates necessitatibus voluptatibus dignissimos provident, in est ad accusamus minima doloribus magni, repellendus perferendis ipsam neque excepturi dicta reiciendis.

            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                ยอมรับ
              </label>
            </div>
            <button  class="btn btn-thaiD btn-primary "><img src="./public/assets/images/thaiD.png" />สร้างบัญชีผู้ใช้ใหม่ด้วย ThaiD</button>
        </div>
      </div>
    </div>
  </div>
</main>


@@include('./common/footer.html')