@@include('./common/header.html')


<main class="wrap-content">
  <div class="title">
    ลงทะเบียนผู้ใช้ใหม่ ระบบ Single Sing-On
  </div>
  <div class="sub-title">
    กรมส่งเสริมการปกครองท้องถิ่น
  </div>
  <div class="block-content row">
    <div class="logo col-lg-5">
      <img src="./public/assets/images/logo.png" />
    </div>
    <div class="content col-lg-7">
      <div class="box">
        <div class="block-register-5">
            <div class="title-block">
              ผู้ลงทะเบียนผู้ใช้ใหม่
            </div>
            <div class="section-content">
              <p class="name">
                นายคนดี บุญมาก <ชื่อ>
              </p>
              <p class="id">
                เลขประจำตัวประชาชน: <span>x-xxxx-xxxxx-xx-x</span>  <!-- เลขประจำตัวประชาชน 13 หลัก> --> 
              </p>
              <p>
                ระบบจะทำการส่งผลการลงทะเบียนให้ภายใน 3-5 วันทำการ ทาง <!-- ข้อความแจ้ง> --> 
              </p>
              <p class="email">
                Email: .....  <!-- email -->
              </p>
              <p>
                กรณีที่ลงทะเบียนสำเร็จแล้ว ผู้ใช้งานจะสามารถตั้งค่ารหัสผ่าน<br />
                สำหรับการเข้าสู่ระบบรูปแบบชื่อบัญชีผู้ใช้ เลขประจำตัวชาชน 13 หลัก ได้ที่ link ที่ระบบส่งให้ทาง Email<br />
                หากไม่ได้รับ Email ผู้ลงทะเบียนใหม่สามารถตรวจสอบได้ <!-- <ข้อความแจ้ง> -->  <a href="">ที่นี่</a>
              </p>

            </div>
           
            <a class="btn btn-primary green" href="">หน้าแรก</a>
        </div>
      </div>
    </div>
  </div>
</main>


@@include('./common/footer.html')