@@include('./common/header.html')


<main class="wrap-content">
  <div class="title">
    ลงทะเบียนผู้ใช้ใหม่ ระบบ Single Sing-On
  </div>
  <div class="sub-title">
    กรมส่งเสริมการปกครองท้องถิ่น
  </div>
  <div class="block-content row">
    <div class="logo col-lg-5">
      <img src="./public/assets/images/logo.png" />
    </div>
    <div class="content col-lg-7">
       <div class="box">
          <div class="block-register-form">
            <div class="title-block">
              ข้อมูลผู้ขอลงทะเบียน
            </div>
            <form>
              <div class="wrap">
                <div class="item col-md-6 col-12">
                  <label for="title" class="col-sm-5 col-form-label fix-w-2" >ตำแหน่ง<span class="required">*</span></label> 
                  <input type="text" class="form-control" id="title" placeholder="ข้อความ">
                </div>
                <div class="item col-md-6 col-12">
                  <label for="tel" class="col-sm-5 col-form-label fix-w-2" >เบอร์ติดต่อ<span class="required">*</span></label> 
                  <input type="text" class="form-control" id="tel" placeholder="ตัวเลข สูงสุด 10 หลัก">
                </div>
                <div class="item col-md-6 col-12">
                  <label for="email" class="col-sm-5 col-form-label fix-w-2" >Email<span class="required">*</span></label> 
                  <input type="text" class="form-control" id="email" placeholder="ข้อความ">
                </div>
                <p class="text red">หมายเหตุ: กรุณาตรวจสอบ Email ให้ถูกต้อง เนื่องจากระบบจะทำการส่งผลการลงทะเบียนให้ทาง Email </p>
              </div>
            </form>
            <div class="block-button block-button-v2">
              <button  class="btn btn-primary btn-step green">ย้อนกลับ</button>
              <button  class="btn btn-primary btn-step green">ถัดไป</button>
            </div>
          </div>
       </div>
    </div>
  </div>
</main>


@@include('./common/footer.html')