@@include('./common/header.html')


<main class="wrap-content">
  <div class="title">
    ลงทะเบียนผู้ใช้ใหม่ ระบบ Single Sing-On
  </div>
  <div class="sub-title">
    กรมส่งเสริมการปกครองท้องถิ่น
  </div>
  <div class="block-content row">
    <div class="logo col-lg-5">
      <img src="./public/assets/images/logo.png" />
    </div>
    <div class="content col-lg-7">
      <div class="box">
        <div class="block-register-form">
          <form>
            <div class="wrap step-4">
              <div class="item">
                <div class="sub-item col-md-6">
                  <label class="col-form-label" >เอกสารหลักฐานการแต่งตั้ง<span class="required">*(pdf เท่านั้น)</span></label> 
                </div>
                <div class="sub-item col-md-6 align-center">
                  <button class="btn btn-primary green">แนบไฟล์เอกสาร</button>
                  <span class="filename">ชื่อไฟล์</span>
                </div>
                
              </div>
              <div class="item time-limit">
                <label  class="col-sm-5 col-form-label w-auto" >จำกัดระยะเวลาการใช้งาน</label> 
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                </div>
              </div>
              <div class="item block-datepicker">
                <div class="sub-item">
                  <label class="col-form-label">สามารถใช้งานได้ตั้งแต่</label> 
                </div>
                <div class="sub-item">
                  <div class="input-date">
                    <input type="text" class="form-control datepicker" id="from" placeholder="ข้อความ">
                  </div>
                  <span>ถึง</span>
                  <div class="input-date">
                    <input type="text" class="form-control datepicker" id="to" placeholder="ข้อความ">
                  </div>
                </div>
                
              </div>
              <div class="item">
                <label class="col-form-label">ระบบที่ต้องการใช้งาน</label> 
              </div>
              <div class="block-list-system row">
                <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" value="" id="ele">
                  <img class="icon" src="./public/assets/images/ele.png" /> 
                  <label class="form-check-label" for="ele">
                    ELE
                  </label>
                </div>
                <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" value="" id="eplan">
                  <img class="icon" src="./public/assets/images/eplan.png" /> 
                  <label class="form-check-label" for="eplan">
                    EPLAN
                  </label>
                </div>
                <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" value="" id="info">
                  <img class="icon" src="./public/assets/images/info.png" /> 
                  <label class="form-check-label" for="info">
                    INFO
                  </label>
                </div>
                <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" value="" id="lhr">
                  <img class="icon" src="./public/assets/images/lhr.png" /> 
                  <label class="form-check-label" for="lhr">
                    LHR
                  </label>
                </div>
                <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" value="" id="lpa">
                  <img class="icon" src="./public/assets/images/lpa.png" /> 
                  <label class="form-check-label" for="lpa">
                    LPA
                  </label>
                </div>
                <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" value="" id="lsv">
                  <img class="icon" src="./public/assets/images/lsv.png" /> 
                  <label class="form-check-label" for="lsv">
                    LSV
                  </label>
                </div>
                <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" value="" id="ltax">
                  <img class="icon" src="./public/assets/images/ltax.png" /> 
                  <label class="form-check-label" for="ltax">
                    LTAX
                  </label>
                </div>
                <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" value="" id="sarabun">
                  <img class="icon" src="./public/assets/images/sarabun.png" /> 
                  <label class="form-check-label" for="sarabun">
                    SARABUN
                  </label>
                </div>
                <div class="form-check col-md-6">
                  <input class="form-check-input" type="checkbox" value="" id="sola">
                  <img class="icon" src="./public/assets/images/sola.png" /> 
                  <label class="form-check-label" for="sola">
                    SOLA
                  </label>
                </div>
                
              </div>
              <p class="text red text-step-4">หมายเหตุ: ผู้ใช้งานสามารถยื่นขอใช้งานระบบอื่น ๆ เพิ่มได้ในภายหลัง</p>
            </div>
            
          </form>
          <div class="block-button block-button-v2 block-button-step-4">
            <button  class="btn btn-primary btn-step green">ย้อนกลับ</button>
            <button  class="btn btn-primary btn-step green">ยืนยันการลงทะเบียนผู้ใช้ใหม่</button>
          </div>
        </div>  
      </div>
    </div>
  </div>
</main>


@@include('./common/footer.html')