@@include('./common/header.html')


<main class="wrap-content">
  <div class="title">
    จัดการรหัสผ่าน ระบบ Single Sing-On
  </div>
  <div class="sub-title">
    กรมส่งเสริมการปกครองท้องถิ่น
  </div>
  <div class="block-content row">
    <div class="logo col-lg-5">
      <img src="./public/assets/images/logo.png" />
    </div>
    <div class="content col-lg-7">
       <div class="box">
          <div class="block-register-form block-forgot-password-form block-setup-password">
            <div class="title-block">
              ตั้งรหัสผ่านใหม่
            </div>
            <form>
              <div class="wrap">
                <div class="item col-12">
                  <label for="idCard" class="col-sm-5 col-form-label w-auto" >เลขประจำตัวชาชน (ชื่อบัญชีผู้ใช้งาน)<span class="required">*</span></label> 
                  <input type="text" class="form-control hasBg" id="idCard" placeholder="ข้อความ">
                </div>
                <div class="item col-12 col-lg-10">
                  <label for="password" class="col-sm-5 col-form-label fix-w" >รหัสผ่านใหม่<span class="required">*</span></label> 
                  <div class="block-password">
                    <input type="text" class="form-control" id="password" placeholder="ข้อความ">
                    <div class="level">
                      <div class="item lower">ต่ำมาก</div>
                      <div class="item low">ต่ำ</div>
                      <div class="item medium active">ปานกลาง</div>
                      <div class="item high">สูง</div>
                      <div class="item higher">สูงมาก</div>
                    </div>
                  </div>
                </div>
                <div class="item col-12 col-lg-10">
                  <label for="confirm_password" class="col-sm-5 col-form-label fix-w" >ยืนยันรหัสผ่านใหม่<span class="required">*</span></label> 
                  <input type="text" class="form-control" id="confirm_password" placeholder="ข้อความ">
                </div>
                <p class="text red mt-3">หมายเหตุ: ...เงื่อนไขการตั้งรหัสผ่าน... </p>
              </div>
            </form>
            <div class="block-button">
              <button  class="btn btn-primary btn-step green" data-bs-toggle="modal" data-bs-target="#success">ยืนยันรหัสผ่าน</button>
            </div>

          </div>
       </div>
    </div>
  </div>
</main>

<!-- Modal -->
<div class="modal modal-custom" id="success" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">จัดการรหัสผ่าน ระบบ Single Sing-On</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <p class="p-single">
            เปลี่ยนรหัสผ่านเรียบร้อยแล้ว
          </p>
     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>



@@include('./common/footer.html')