@font-face {
  font-family: 'KanitRegular';
  src: url('../../public/assets/fonts/kanit/KanitRegular.eot');
  src: url('../../public/assets/fonts/kanit/KanitRegular.eot') format('embedded-opentype'),
       url('../../public/assets/fonts/kanit/KanitRegular.woff2') format('woff2'),
       url('../../public/assets/fonts/kanit/KanitRegular.woff') format('woff'),
       url('../../public/assets/fonts/kanit/KanitRegular.ttf') format('truetype'),
       url('../../public/assets/fonts/kanit/KanitRegular.svg#KanitRegular') format('svg');
}
