@import 'base/font';
@import 'base/color';

@import 'layout/header';
@import 'layout/footer';


body{
  font-family: 'KanitRegular';
  background-image: url('../../public/assets/images/bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: $textColor;
  @media screen and (max-width:991px) {
    background-position: right;
    background-size:cover;
    
  }
}

.wrap-content{
  padding: 5% 7%;
  max-width: 1600px;
  margin: 0 auto;
  @media screen and (max-width:991px) {
    padding-top: 0px;
  }
  .title{
    font-size: 64px;
    text-align: right;
    color: $color-main;
    line-height: 1;
    @media screen and (max-width:1200px) {
      font-size: 54px;
    }
    @media screen and (max-width:1024px) {
      font-size:44px;
    }
    @media screen and (max-width:991px) {
      text-align: center;
    }
    @media screen and (max-width:600px) {
      font-size:34px;
    }
  }
  .sub-title{
    color: $darkGreen;
    font-size: 22px;
    text-align: right;
    line-height: 1;
    margin: 10px 0px;
    @media screen and (max-width:1200px) {
      font-size: 18px;
    }
    @media screen and (max-width:1024px) {
      font-size: 16px;
    }
    @media screen and (max-width:991px) {
      text-align: center;
    }
  }
  .block-content{
    @media screen and (max-width:991px) {
      margin-top: 20px;
    }
    .logo{
      background-color: #d4ebc9;
      border: 7px solid $color-main;
      border-radius: 100%;
      padding: 25px 20px;
      z-index: 99;
      transform: scale(1.05);
      @media screen and (max-width:991px) {
        display: none;
      }
    }
    img{
      width: 100%;
    }
  
    .content{
      position: relative;
      background: #fff;
      border: 7px solid $color-main;
      border-left: none;
      border-radius: 0 30px 30px 0;
      @media screen and (max-width:991px) {
        border-radius: 30px;
        border-left: 7px solid $color-main;
        border-width: 4px;
        min-height: 100%;
      }
      &::before{
        content: '';
        width: 17vw;
        height: calc(100% + 14px);
        display: block;
        background: white;
        border: 7px solid $color-main;
        padding: 0;
        position: absolute;
        left: -17vw;
        border-right: 0;
        top:-7px;
        width: 100%;
        @media screen and (max-width:991px) {
          display: none;
        }
      }
      .box{
        position: absolute;
        z-index: 9;
        overflow-y: scroll;
        height: 98%;
        width: 98%;
        top: 0;
        @media screen and (max-width:991px) {
          position: relative;
          width: 100%;
          margin: 0;
          height: auto;
        }
      }
    }
  }
}

/** button **/
.btn-primary{
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  background-color: #008FE0;
  border: none;
  &.btn-thaiD{
    margin-top: 8px;
    background-color: #3B599B;
  }
  img{
    width: 25px !important;
    margin-right: 5px;
  }
  &.green{
    background-color: $darkGreen;
  }
  
  &.check-data{
    @media screen and (max-width:680px) {
      margin: 0 auto;
      display: block;
      margin-top: 10px;
    }
  }
}

/*** landing page ****/
.block-register{
  padding-top: 60px;
  margin: 0;
  @media screen and (max-width:1366px) {
    padding-top: 30px;
  }
  .register_form{
    padding-right: 0px;
    @media screen and (max-width:1200px) {
      width: 100%;
      padding: 25px;
    }
    .wrap-register{
      border-right: 2px dashed #40916C;
      padding: 20px;
      padding-bottom: 0;
      @media screen and (max-width:1200px) {
        border-bottom: 2px dashed #40916C;
        border-right: 0;
        padding: 0;
        padding-bottom: 20px;
      }
    }
    form{
      padding: 0 25px;
      @media screen and (max-width:991px) {
        padding: 0;
      }
      input[type='text']{
        font-size: 16px;
        border-color: #CACACA;
        border-right: none;
        &:focus{
          outline: none;
          box-shadow: none;
        }
        &::placeholder{
          color: #CACACA;
        }
        &:-ms-input-placeholder{
          color: #CACACA;
        }
        &::-webkit-input-placeholder{
          color: #CACACA;
        }
      }
      .input-group{
        margin-bottom: 8px;
        button{
          border-color: #CACACA;
          border-left: 0;
          padding-right: 5.5px;
          &:hover{
            background: none !important;
          }
          i{
            color: #848484;
          }
        }
      }
     
    }
    .text{
      text-align: center;
      margin-top: 24.5px;
    }
  }
  .block-check{
    padding-left: 15px;
    margin-top: 11.5px;
    input{
      border-color: #363636;
      border-radius: 0;
    }
    .forgotPassword{
      text-align: right;
      
    }
    a{
      color: $textColor;
      text-decoration: none;
      &:hover{
        color: #008FE0;
      }
    }
    .form-check{
      padding-right: 0px;
    }
  }

  .detail{
    padding-left: 25px;
    @media screen and (max-width:1200px) {
      width: 100%;
      padding: 0 50px;
    }
    @media screen and (max-width:991px) {
      padding: 0 20px;
    }
    .detail-title{
      font-size: 19px;
    }
    ul{
      list-style: none;
      padding: 0;
      padding-left: 7px;
      margin-top: 8px;
      li{
        margin-bottom: 7px;
        i{
          color: #74C69D;
          margin-right: 10px;
        }
        span{
          font-size: 15px;
        }
      }
    }
    .btn-register{
      width: 70%;
      margin: 0 auto;
      display: block;
      background: #0FA958;
      border: none;
      border-radius: 10px;
      i{
        margin-right: 7.5px;
      }
    }
    .block-qr{
      margin-top: 12px;
      @media screen and (max-width:991px) {
        display: table;
        margin: 0 auto;
        margin-top: 12px;
      }
      img{
        width: 128px;
        margin-right: 18px;
      }
      span{
        font-size: 15px;
      }
    }
  }
  .text-bottom{
    font-size: 22px;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 1px;
    padding-bottom: 20px;
  }
}


/*** register 1 ****/
.block-register-1{
  padding: 25px 60px;
  height: 100%;
  @media screen and (max-width:991px) {
    padding: 20px;
  }
  .title-block{
    font-size: 19px;
  }
  .condition-detail{
    background: #f1f1f1;
    padding: 15px 20px;
    margin: 15px 0px;
    height: 68%;
    overflow: auto;
    border-radius: 5px;
    @media screen and (max-width:991px) {
      max-height: 400px;
    }
  }
  .btn-thaiD{
    float: right;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

/*** register 2 ****/
.block-register-form{
  padding: 15px;
  height: 100%;
  .input-date{
    position: relative;
    &:after{
      font-family: "Font Awesome 6 Free";
      content: "\f073";
      color: #848484;
      position: absolute;
      right: 7px;
      top: 3px;
    }
  }
  .block-button{
    display: inline-block;
    justify-content: end;
    position: sticky;
    padding-right: 30px;
    bottom: 0px;
    float: right;
    z-index: 99;
    margin-top: 15px;
    margin-bottom: 20px;
    &.block-button-v2{
      width: 100%;
      float: none;
      display: flex;
      justify-content: space-between;
      backdrop-filter: blur(10px);
      -tw-backdrop-blur: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding-top: 10px;
      @media screen and (max-width:991px) {
        padding-right: 0px;
      }
    }
    &.block-button-step-4{
      
        @media screen and (max-width: 480px){
          display: block;
          .btn-primary{
            margin: 5px;
          }
        }
      
      
    }
    @media screen and (max-width:680px) {
      padding-right: 0px;
    }
  }
  .block-datepicker{
    padding-left: 30px;
    label{
      width: 150px;
    }
  }
  .red{
    color: #FF0000;
  }
  p{
    font-size: 14px;
  }
  .title-block{
    font-size: 19px;
    @media screen and (max-width:680px) {
      text-align: center;
    }
  }
  form{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    z-index: 99;
    position: relative;
    min-height: 80%;
    @media screen and (max-width:991px) {
      padding-left: 0px;
     padding-right: 0px;
    }
    .form-switch{
      .form-check-input{
        height: 20px;
        width: 40px !important;
        &:checked{
          background-color: #ABF291;
          border-color: #E1E1E1;
        }
      }
      
    }
    .filename{
      color: #008FE0;
    }
    label{
      position: relative;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .required{
      color: #FF0000;
    }
    input[type="text"]{
      border: 1px solid #CACACA;
      padding-top: 3px;
      padding-bottom: 3px;
      &#idNumber{
        width: 40%;
        min-width: 260px;
        @media screen and (max-width:1120px) {
          min-width: 70%;
        }
        @media screen and (max-width:991px) {
          min-width: 260px;
        }
        @media screen and (max-width:680px) {
          min-width: 100%;
        }
      }
    }
    select{
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .hasBg{
      background-color: #E1E1E1;
    }
    .w-auto{
      width: auto;
    }
    .item,.sub-item{
      margin-bottom: 7px;
      display: flex;
      gap: 10px;
      align-items: center;
      .item{
        margin-bottom: 0;
      }
      @media screen and (max-width:1120px) {
        display: block;
        &.item-block-name{
          display: flex;
        }
        &.item-block-affiliation{
          display: flex;
          align-items: end;
        }
      }
      @media screen and (max-width:991px) {
        display: flex;
      }
      @media screen and (max-width:680px) {
        display: block;
        width: 100%;
        &.item-block-name{
          display: block;
        }
        &.item-block-affiliation{
          display: block;
        }
      }
      label{
        &.fix-w{
          width: 65px;
        }
        &.fix-w-2{
          width: 80px;
        }
      }
      &.item-style2{
        padding-left: 60px;
        @media screen and (max-width:680px) {
          padding-left: 20px;
          padding-right: 0px;
        }
        label{
          &.fix-w{
            width: 140px;
          }
        }
        .form-select{
          width: 200px;
          @media screen and (max-width:1120px) {
            width: 300px;
          }
          @media screen and (max-width:680px) {
            width: 100%;
          }
        }
      }
      
    }
    .step-4{
      .sub-item{
        @media screen and (max-width: 1120px){
          width: 100%;
        }
        @media screen and (max-width: 991px){
          width: auto;
        }
      }
      .item.time-limit{
        @media screen and (max-width: 1120px){
          display: flex;
        }
      }
      .item.block-datepicker{
        .sub-item{
          @media screen and (max-width: 1120px){
            display: flex;
          }
          @media screen and (max-width: 480px){
            display: block;
          }
        }
      }
      
    }
  }
  .block-radio{
    margin-left: 30px;
    @media screen and (max-width:680px) {
      margin-left: 0px;
    }
    .form-check-input[type=radio]{
      border-color: #363636;
      margin-top: 7px;
    }
  }
  .block-list-system{
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px 20px;
    width: 90%;
    margin: 0 auto;
    .form-check{
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      .form-check-input[type=checkbox]{
        border-color: #363636 !important;
      }
    }
    img{
      width: 40px;
      margin: 0 10px;
    }
    
  }
  .text-step-4{
    text-align: right;
    width: 90%;
    margin: 0 auto;
  }
}

/*** block register 5 ***/
.block-register-5{
  text-align: center;
  padding: 40px 20px;
  .title-block{
    font-size: 22px;
    margin-bottom: 20px;
  }
  .section-content{
    p{
      margin-bottom: 0;
      line-height: 30px;
      span{
        @media screen and (max-width:400px) {
          display: block;
        }
      }
    }
  }
  .btn-primary{
    margin-top: 20px;
  }
}


/*** Forgot Password ***/
.block-forgot-password-form{
  form{
    min-height: auto;
  }
  .block-button{
    position: relative;
    float: none;
    text-align: center;
    width: 100%;
    margin-top: 60px;
  }
}
.block-setup-password{
  .title-block{
    text-align: center;
    padding: 13px 0;
  }
  form {
    padding: 0px 80px;
    @media screen and (max-width:767px) {
      padding: 0px;
    }
    .item {
      align-items: start;
      label{
        &.fix-w{
          width: 140px;
        }
      }
    }
  }
  .block-password{
    display: block;
    width: 100%;
  }
  .level{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 13px;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    .item{
      display: block;
      opacity: 0.5;
      color: #000000;
      &.active{
        opacity: 1;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 10px solid #848484;
          top: -6px;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.lower{
        background-color: #FF1212;
      }
      &.low{
        background-color: #FFAF37;
      }
      &.medium{
        background-color: #FAFF00;
      }
      &.high{
        background-color: #ABF291;
      }
      &.higher{
        background-color: #74C69D;
      }
    }
  }
}
.modal-custom{
  .modal-header{
    background-color: $color-main;
    h1{
      font-size: 18px !important;
      color: white;
    }
    .btn-close{
      display: none;
    }
  }
  .modal-body{
    text-align: center;
    .title{
      font-size: 22px;
      margin-bottom: 34px;
      
    }
    p{
      margin-bottom: 5px;
      &.p-single{
        font-size: 22px;
        padding: 10px;
      }
      &.red{
        color: #FF0000;
      }
    }
  }
  .modal-footer{
    border: none;
    justify-content: center;
    padding-bottom: 25px;
    button{
      background-color: $darkGreen;
      padding: 5px 17px;
    }
  }
}